/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'), url('../../../assets/fonts/Arial.woff') format('woff');
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #626c72;
    font-size: 14px;
    line-height: 26px;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.bg-linear {
    background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
}

.ps__thumb-y {
    min-height: 50px !important;
    height: 143px !important;
    max-height: 337px !important;
    width: 4px !important;
}

.ps__rail-y {
    width: 4px !important;
}


.chat-list__scroll:hover {
    overflow: hidden scroll;
}

.chat-list__scroll::-webkit-scrollbar {
    width: 4px;
    opacity: 0;
}


.chat-list__scroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100% - 30px);
}

.chat-list__scroll::-webkit-scrollbar-track {
    border-radius: 50px;
}
