@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    font-family: Arial,sans-serif;
    color: #626c72;
    font-size: 14px;
    line-height: 26px;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
}
.bg-linear{
    background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
}