/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'), url('../../../assets/fonts/Arial.woff') format('woff');
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #626c72;
    font-size: 14px;
    line-height: 26px;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
}

.bg-linear {
    background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
}

.sidebar::-webkit-scrollbar {
    width: 4px;
    position: absolute;
    min-height: 50px;
    display: block;
    height: 143px;
    max-height: 337px;
    top: 141px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.2);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {

    background: #555;
}
.ps__thumb-y{
    min-height: 50px !important;
    display: block;
    height: 143px !important;
    max-height: 337px !important;
}